.listItem {
	display: flex;
	flex-wrap: wrap;
	font-family: "Open Sans", sans-serif;
	gap: 20px;
	border: 1px solid #cbcdd4;
	border-top: none;
	border-right: none;
	padding: 16px;
	justify-content: space-between;
	user-select: none;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10+ */
	cursor: pointer;
}

.episode {
	color: #989aa2;
	font-size: 13px;
}

.title {
	font-weight: 600;
	font-size: 15px;
}

.releaseDate {
	color: #989aa2;
	font-size: 15px;
	font-weight: 600;
}

.listItem:first-child {
	border-top: 1px solid #cbcdd4;
}

.moviesContainer {
	display: flex;
}

.movieDetailContainer {
	font-family: "Open Sans", sans-serif;
	display: flex;
	padding: 15px;
	justify-content: center;
	height: 100vh;
	width: 50%;
	border-left: 1px solid #cbcdd4;
}

.moviesList {
	width: 50%;
}

.detailTitle {
	font-weight: 700;
	font-size: 25px;
}

.detailDescription {
	font-weight: normal;
	font-size: 16px;
	color: #989aa2;
}

.detailDirector {
	font-weight: normal;
	font-size: 16px;
	color: #989aa2;
}
